<header class="uu-header">
    <div class="uu-header__container">
        <a href="https://www.utah.edu/" class="uu-header__logo"> <span class="sr-only"> The University of Utah </span> </a>
        <h2 class="uu-header__title title-top">
            <a href="https://www.biology.utah.edu/"> School of Biological Sciences </a>
        </h2>
        <h3 class="uu-header__title title-bottom">
            <a href="https://science.utah.edu" target="_blank"> College of Science </a>
        </h3>
    </div>
</header>
