<footer class="uu-footer">
    <div class="uu-footer__container">
        <nav class="uu-footer-nav">
            <div id="jsFooterNavLists" class="uu-footer-nav__lists">
                <div class="uu-footer-nav__menu">
                    <h2 class="jsFooterNavListToggle uu-footer-nav__menu-toggle">
                        Stay In Touch
                    </h2>
                    <ul class="uu-footer-nav__menu-list">
                        <li> <a href="https://bit.ly/2dlF01Y"> Find Us </a> </li>
                        <li> <a href="https://www.biology.utah.edu/contact.php"> Contact Us </a> </li>
                        <li> <a href="mailto:webmaster@biology.utah.edu"> Webmaster </a> </li>
                    </ul>
                </div>
                <div class="uu-footer-nav__menu">
                    <h2 class="jsFooterNavListToggle uu-footer-nav__menu-toggle">
                        Fine Print
                    </h2>
                    <ul class="uu-footer-nav__menu-list">
                        <li> <a href="https://www.utah.edu/disclaimer/"> Disclaimer </a> </li>
                        <li> <a href="https://www.utah.edu/privacy/"> Privacy </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="uu-footer__brand">
            <div class="uu-footer__logo-area">
                <div class="uu-footer__logo">
                    <p>
                        <a href="https://imagineu.utah.edu/"> <img src="https://templates.utah.edu/_main-v3/images/template/imagine_u.svg" alt="Imagine U The University of Utah" width="167" height="24"> </a>
                    </p>
                </div>
                <div class="uu-footer__social">
                    <ul class="uu-footer__socons">
                        <li> <a title="CIS login" href="https://cis.utah.edu/"> <img src="https://templates.utah.edu/_main-v3/images/template/icon-cis.svg" alt="CIS Login"> </a> </li>
                        <li> <a title="UMail" href="https://www.umail.utah.edu/"> <img src="https://templates.utah.edu/_main-v3/images/template/icon-umail.svg" alt="U-Mail"> </a> </li>
                        <li> <a title="facebook" href="https://www.facebook.com/UBiologySchool/"> <span class="fab fa-facebook-f" aria-hidden="true"> </span> <span class="sr-only"> Facebook </span> </a> </li>
                        <li> <a title="twitter" href="https://twitter.com/UofUBiology"> <span class="fab fa-twitter" aria-hidden="true"> </span> <span class="sr-only"> Twitter </span> </a> </li>
                        <li> <a title="instagram" href="https://www.instagram.com/uofubiology/"> <span class="fab fa-instagram" aria-hidden="true"> </span> <span class="sr-only"> Instagram </span> </a> </li>
                        <li> <a title="linked in" href="https://www.linkedin.com/company/ubiologyschool/"> <span class="fab fa-linkedin" aria-hidden="true"> </span> <span class="sr-only"> Linked In </span> </a> </li>
                        <li> <a title="youtube" href="https://www.youtube.com/channel/UCzlq7gXpad-pOQeFrNVvN4g"> <span class="fab fa-youtube" aria-hidden="true"> </span> <span class="sr-only"> YouTube </span> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="uu-footer__address">
                <p>
                    School of Biological Sciences<br>
                    257 SOUTH 1400 EAST<br>
                    SALT LAKE CITY, UT 84112<br>
                    Phone: &nbsp; (801) 581-5637
                </p>
                © 2020 The University of Utah
            </div>
        </div>
    </div>
    <div class="uu-footer__bottom-links">
        <ul>
            <li> <a href="https://www.utah.edu/privacy/"> Privacy Policy </a> </li>
            <li> <a href="https://www.utah.edu/disclaimer/"> Disclaimer </a> </li>
            <li> <a href="https://www.utah.edu/nondiscrimination/"> Nondiscrimination &amp; Accessibility </a> </li>
            <li> <a id="de" href=""> Last Updated: 1/4/21 </a> </li>
        </ul>
    </div>
</footer>
