<footer class="uu-footer" role="contentinfo">
    <div class="uu-container">
        <div class="uu-footer-content">
            <div class="uu-footer-1">
                <p>
                    University of Utah<br>
                    201 S Presidents Circle<br>
                    Salt Lake City, UT 84112<br>
                </p>
                <p><a href="//www.utah.edu">© The University of Utah</a></p>
            </div>
            <div class="uu-footer-2">
                <ul>
                    <li><a href="//www.utah.edu/nondiscrimination/">Nondiscrimination &amp; Accessibility</a></li>
                    <li><a href="//www.utah.edu/disclaimer/">Disclaimer</a></li>
                    <li><a href="//www.utah.edu/privacy/">Privacy</a></li>
                </ul>
            </div>
            <div class="uu-footer-3"></div>
            <div class="uu-footer-4">
                <div class="footer-logo">
                    <h2>
                        <a href="//imagineu.utah.edu/"><img src="https://templates.utah.edu/apps/v1/_images/template/imagine_u.png" alt="Imagine U: The University of Utah"></a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</footer>