div {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #eee;
}
input {
    margin-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px
}
ag-grid-angular {
    width: inherit;
    height: inherit;
}
