<div>
    <input
        type="text"
        (input)="onQuickFilterChanged()"
        id="instructorSelectListFilter"
        placeholder="Filter instructors"
        [value]="instructorSelectListFilter"
    />
    <ag-grid-angular
        id="instructorSelectListGrid"
        class="ag-theme-balham"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [enableBrowserTooltips]="true"
        [postSort]="postSort"
        [rowClassRules]="rowClassRules"
        [rowData]="rowData"
        [rowMultiSelectWithClick]="true"
        [rowSelection]="rowSelection"
    ></ag-grid-angular>
</div>
