<div>
    <input
        type="text"
        (input)="onQuickFilterChanged()"
        id="catalogNumberQuickFilter"
        placeholder="Filter Catalog Numbers"
        [value]="quickFilter"
    />
    <ag-grid-angular
        id="catalogNumberSelectListGrid"
        class="ag-theme-balham"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [enableBrowserTooltips]="true"
        [postSort]="onPostSort"
        [rowClassRules]="rowClassRules"
        [rowData]="rowData"
        [rowMultiSelectWithClick]="true"
        [rowSelection]="rowSelection"
    ></ag-grid-angular>
</div>
