<div id="grid">
    <div>
        <h2>Filters</h2>
        <form action="" target="" method="">
            <span class=".ag-header-cell-text">Semesters</span>
            <app-semester-select-list></app-semester-select-list>
            <span class=".ag-header-cell-text">Courses</span>
            <app-course-select-list></app-course-select-list>
            <span class=".ag-header-cell-text">Instructors</span>
            <app-instructor-select-list></app-instructor-select-list>
            <span class=".ag-header-cell-text">General Ed</span>
            <app-attr-select-list></app-attr-select-list>
        </form>
    </div>

    <div>
        <app-results-table></app-results-table>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
