#grid {
    display: grid;
    grid-template-columns: 220px auto 380px;
    grid-gap: 10px;
    margin: 10px;
  }
  #grid > div {
    background-color: #ddd;
    color: black;
    padding: 10px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div, p { font-size: 12px }

*,
::before,
::after {
  /* selecting all elements on the page, along with the ::before
     and ::after pseudo-elements; resetting their margin and
     padding to zero and forcing all elements to calculate their
     box-sizing the same way, 'border-box' includes the border-widths,
     and padding, in the stated width: */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}