<div id="grid">
    <div>
        <h2>Filters</h2>
        <form action="" target="" method="">
            <span class=".ag-header-cell-text">Semesters</span>
            <app-semesters></app-semesters>
            <span class=".ag-header-cell-text">Courses</span>
            <app-courses></app-courses>
            <span class=".ag-header-cell-text">Instructors</span>
            <app-instructors></app-instructors>
            <span class=".ag-header-cell-text">General Ed</span>
            <app-geneds></app-geneds>
        </form>
    </div>

    <div>
        <app-table-view></app-table-view>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
