<h1>Angular Multiselect Dropdown with Search - ItSolutionStuff.com</h1>

<ng-select [items]="categories"
               bindLabel="name"
               placeholder="Select Category"
               appendTo="body"
               [multiple]="true"
               [(ngModel)]="selected">
</ng-select>

<button (click)="getSelectedValue()">Get Selected Values</button>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h2>General Education Requirements</h2>
<div *ngFor="let gen_ed of gen_ed$ | async">
  <h3>{{gen_ed}}</h3>
</div>

<router-outlet></router-outlet>
