<div class="detail">
    <h1>Biology Course Information DB</h1>

    <p><button (click)="clearAllFilters()">Clear all filters</button></p>

    <p>Click a course name to view its details.</p>

    <p>Data was last updaged on xxxx-xx-xx</p>

    <p>Tips:</p>
    <ul>
        <li>Click the column header to sort.</li>
        <li>To sort by multiple columns, hold shift when clicking on column headers</li>
        <li>To unselect all checked filters click the checkbox at the top twice (once to select all, then again to unselect all).</li>
        <li>Having all filters selected is the same as having no filters selected.</li>
    </ul>
</div>
