.detail {
    height: 100%;
    padding: 10px;
    border: 1px solid var(--ag-border-color, #bdc3c7);;
    background-color:var(--ag-background-color, #fff);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 12px;
}

p {
    margin: 10px;
}
ul {
    padding-inline-start: 40px;
}


h1 {
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    text-transform: none;
}
#detailsView {
    margin: 10px;
}
router-outlet + * {
  background-color: red;

}
