.detail {
    background-color:var(--ag-background-color, #FFF);
    height: 100%;
    padding: 10px;
    border: 1px solid var(--ag-border-color, #bdc3c7);;
}
// width: 360px;

p {
    margin: 10px;
}
ul {
    padding-inline-start: 40px;
}
