#detailComponent {
    background-color:var(--ag-background-color, #FFF);
    height: 100%;
    padding: 10px;
}
h1 {
    align-items: center;
    font-size: medium;
}
#detailsView {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10px;
    margin: 10px;
}
.col1 {
    grid-column-start: 1;
    text-align: right;
}
.col2 {
    grid-column-start: 2;
}
router-outlet + * {
  background-color: red;

}
