$width1: 80px;
$width2: 200px; // total 360
#details {

    // border
}
p {
    display: flex;
    align-items: flex-start;
    height: 28px;
}
.col2,.col2 {
    display: inline-block;
}
.col1 {
    width: $width1;
    // text-align: right;
    margin: 0 0 0 0;
    background-color: #aaa;
    display: flex;
      justify-content: center;
    align-items: center;
    }
.col1+.col2 {
    width: $width2;
    margin: 0 $width1 0 0;
    background-color:#aaf;
}