<div id="detailComponent">

<ng-template [ngIf]="displayError">Could not find course</ng-template>
<ng-template [ngIf]="displayLoading">Loading...</ng-template>

<ng-template [ngIf]="course">
    <h1>BIOL {{course.cat}}-{{course.sec}}<br>
        {{course.nam}}<br>
        {{course.semester}} {{course.yea}}</h1>

    <div id="detailsView">
        <div class="col1">Instructors</div>

        <div *ngFor="let instructor of course.instructors" class="col2">
                <a target="_blank" rel="noopener" href="http://faculty.utah.edu/{{instructor.unid}}/teaching/index.hml">{{instructor.name}}</a>
        </div>

        <div class="col1">Attributes</div>
        <div *ngFor="let attr of course.attrs" class="col2">
                {{attr.attr}}
        </div>

        <div class="col1">Component</div><div class="col2">{{course.com}}</div>
        <div class="col1">Enrolled</div><div class="col2">{{course.enr}}</div>
        <div class="col1">Capacity</div><div class="col2">{{course.cap}}</div>
        <div class="col1">Requisites</div><div class="col2">{{course.rek}}</div>
        <div class="col1">Requiments </div><div class="col2">{{course.req}}</div>
        <div class="col1">Syllabus</div><div class="col2">
            <div *ngIf="course.syl;else no_syllabus">
                <a href="{{course.syl}}" target="_blank" rel="noopener">Syllabus</a>
            </div>
            <ng-template #no_syllabus>No syllabus</ng-template>
        </div>
        <div class="col1">Type</div><div class="col2">{{course.typ}}</div>
        <div class="col1">Unit</div><div class="col2">{{course.uni}}</div>
        <div class="col1">Other links</div><div class="col2">
            <a href="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/{{course.semcode}}/class_list.html?subject=BIOL#{{course.num}}" target="_blank" rel="noopener">Class</a>
            -
            <a href="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/{{course.semcode}}/sections.html?subj=BIOL&catno={{course.cat}}" target="_blank" rel="noopener">Sections</a>
            -
            <a href="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/{{course.semcode}}/description.html?subj=BIOL&catno={{course.cat}}&section={{course.sec}}" target="_blank" rel="noopener">Description</a>
            -
            <a href="https://tableau.dashboard.utah.edu/#/site/idmv/views/CourseEnrollmentProfile/CourseEnrollment?:showAppBanner=false&Subject={{course.sub}}&Acadyr={{course.Acadyr}}&Semester={{course.semester}}&Extract=End-of-Term&Catlvl=2000-2999&Catnbr2={{course.cat}}&Section={{course.sec}}" target="_blank" rel="noopener">More enrollment info</a>

        </div>
        <div class="col1">Description</div><div class="col2">{{course.description.des}}</div>

    <!--
    Fee course.fee</div>
    // field: 'Type' ,
    // field: 'Units' ,
    // field: 'Course Attributes' ,
    // field: 'Course Components' ,
    // field: 'Wait List', type: 'nonEditableColumn'
    // field: 'Description',
    // field: 'Seats Available'
    // field: 'Sections URL',
    -->
    </div>
</ng-template>
</div>
