<div>
    <input
        type="text"
        (input)="onQuickFilterChanged()"
        id="attrSelectListFilter"
        placeholder="Filter attributes"
    />
    <ag-grid-angular
        id="attrSelectListGrid"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [suppressRowClickSelection]="true"
        [rowSelection]="rowSelection"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        [enableBrowserTooltips]="true"
    ></ag-grid-angular>
</div>
