<div>
    <input
        type="text"
        (input)="onQuickFilterChanged()"
        id="classTypeSelectListFilter"
        placeholder="Filter class types"
        [value]="classTypeSelectListFilter"
    />
    <ag-grid-angular
        id="classTypeSelectListGrid"
        class="ag-theme-balham"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [enableBrowserTooltips]="true"
        [postSort]="postSort"
        [rowClassRules]="rowClassRules"
        [rowData]="rowData"
        [rowMultiSelectWithClick]="true"
        [rowSelection]="rowSelection"
    ></ag-grid-angular>
</div>
