<div>
    <input
        type="text"
        (input)="onQuickFilterChanged()"
        id="semesterSelectListFilter"
        placeholder="Filter semesters"
    />
    <ag-grid-angular
        id="semesterSelectListGrid"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowMultiSelectWithClick]="true"
        [rowSelection]="rowSelection"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
    ></ag-grid-angular>
</div>
